<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305426477823-ldfarcvu6or77n2h38od9gku9f8tr17d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305426477823-ldfarcvu6or77n2h38od9gku9f8tr17d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>305426477823-mp4v5v79h55dbldun9d77t6r4j14qpdn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBxRjC8ewXH4nTRTAwuofRhiWFaNQ7YiOc</string>
	<key>GCM_SENDER_ID</key>
	<string>305426477823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movietime</string>
	<key>PROJECT_ID</key>
	<string>movietime-f5159</string>
	<key>STORAGE_BUCKET</key>
	<string>movietime-f5159.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305426477823:ios:50d33e20358a1cbfa312ca</string>
</dict>
</plist>